<html>
    <head>
        <script src='/socket.io/socket.io.js'></script>
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <!--<script src="http://code.highcharts.com/highcharts.js"></script>-->
        <script src="/assets/js/highchartsCustom.js"></script>
        <script src="/assets/js/handlebars-v3.0.3.js"></script>
        <script src="/assets/templates/templates.js"></script>

        <!--<script src="http://d3js.org/d3.v3.min.js"></script>
        <script src="http://dimplejs.org/dist/dimple.v2.1.2.min.js"></script>-->
    </head>
    <body>
      <div class='container'>
        <div id='main'>
          <!--<div id='chartByPage'></div>
          <div id='chartByAvg'></div>-->
        </div>

      </div>

    </body>
    <script type='text/javascript'>
      var socket = io();
      socket.emit('testDB'); //test DB connection
      var dbChangeId='submitDBChange';
      //var dbTestId='testDBChange';
      var submitAuthenticationId='submitAuthenticate';
      var siteMap=[
        {
          type:'bar',
          title:'Page Views',
          id:'chartByPage',
          noSql:[
            {$match:{page:{$ne:null}}},
            {$group:{_id:"$page", "y":{$sum:1}}}
          ]//sum over '1' is the same as sql's count
        },
        {
          type:'bar',
          id:'chartByAvg', //average total time spent on site
          title:'Average Session',
          noSql:[
            {$match:{dateLeft:{$ne:null}}},
            {$group:{_id:"$ip", "y":{$avg:{$subtract:["$dateLeft", "$dateEntered"]}}}}
          ]
        },
        {
          type:'timeseries', //hits by date
          id:'chartByTime',
          title:'Views by Date',
          noSql:[
            {$match:{dateEntered:{$ne:null}}},
            {$group:{"_id":{"year":{"$year":"$dateEntered"}, "month":{"$month":"$dateEntered"}, "day":{"$dayOfMonth":"$dateEntered"}, "ip":"$ip"}, "y":{$sum:1}}},
            {$group:{"_id":{"year":"$_id.year", "month":"$_id.month", "day":"$_id.day"}, "y":{$sum:1}   }}

            //{$group:{"_id":"$ip", "y":{$avg:{"year":{"$year":"$dateEntered"}, "month":{"$month":"$dateEntered"}, "day":{"$dayOfMonth":"$dateEntered"}}}}}
          ]
        },
        {
          type:'bar', //unique hits
          id:'chartByIP',
          title:'Distinct IP addresses',
          noSql:[
            {$match:{dateEntered:{$ne:null}}},
            {$group : {"_id" : "$ip"} },
            {$group : {"_id" : "distinct", "y":{$sum:1}}} //this is weird that it works...
          ]
        }
      ];
      Handlebars.partials = Handlebars.templates;
      var template = Handlebars.templates['admin'];
      var editDB = Handlebars.templates['editDB'];
      socket.on('dbCheck', function(data){
        console.log(data);
        if(data.isConnect){ //connection succeeded
          $('#main').html(template({authenticated:false, chartType:siteMap, authenticateId:submitAuthenticationId}));

        }
        else {
          $('#main').html(editDB({dbChangeId:dbChangeId}));
        }
      });

      $('#main').on('submit', '#'+submitAuthenticationId, function(e){
        socket.emit('authenticate', {user:$('#userName').val(), password:$('#password').val()});
        return false;
      });

      $('#main').on('submit', '#'+dbChangeId, function(e){
        var options={};
        $('.form-control').each(function(index, value){
          var $self=$(this);
          if($self.val()){
            options[$self.attr('id')]=$self.val();

          }

        });
        console.log(options);

        socket.emit('updateDataBase', options);
        return false;
      });

      socket.on('updateChart', function(data){
        console.log(data);//see what is happening when user disconnects
      });
      socket.on('chartError', function(data){
        console.log(data);
      });
      socket.on('fullChartData', function(data){
        var n=data.length;
        console.log(data);
        for(var i=0; i<n;i++){
          createChart(data[i]);
        }
      });
      socket.on('authenticate', function(data){
        console.log(data);
        if(data.group==='admin'){
          $('#main').html(template({authenticated:true, chartType:siteMap, authenticateId:submitAuthenticationId}));
          socket.emit('requestChartData', siteMap);
        }
        else{
          alert("Login Failed!");
        }
      });
      function createChart(chartData){
        $('#'+chartData.id).highcharts({
          credits:false,
          title:{
            text:chartData.title
          },
          xAxis:{
            type:'category'
          },
          legend:{
            enabled:false
          },
          series:[{
            type:'column',
            data:chartData.data
          }]
        })
      }
    </script>


</html>
