<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <!--<script src="http://code.highcharts.com/highcharts.js"></script>-->
  <script src="/assets/js/highcharts-custom.js"></script>

  <script src='/socket.io/socket.io.js'></script>
  <script src="/assets/js/path.js"></script>

  <link rel="stylesheet" href="/assets/css/katex.min.css">
  <script src="/assets/js/katex.min.js"></script>

  <link href='/assets/css/prism.css' rel='stylesheet' />
  <script src="/assets/js/prism.js"></script>

  <script src="/assets/js/handlebars-v3.0.3.js"></script>
  <script src="/assets/js/mathjaxHelper.js"></script>
  <script src="/assets/js/prismHelper.js"></script> <!--renders code highlights-->
  <link href="/assets/css/simple-sidebar.css" rel="stylesheet">
  <script src="/assets/templates/templates.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link href='/assets/css/main.css' rel='stylesheet'>


</head>

<body id='wrapper'>

  <div id='sidebar-wrapper'>

  </div>
  <div id='page-content-wrapper'>
    <div class='container topScreen'>
      <div class='row holdIcons'>
        <div class='col-xs-4 holdMenu'>
          <img src='assets/icons/menu.svg' class='toggleSidebar icon element'>
          <div class='toggleSidebar element '>Menu</div>
        </div>
        <div class='col-xs-8 holdContact'>
          <img class="avatar icon float-right" src="/assets/images/avatar.png">
          <a href='https://www.linkedin.com/profile/view?id=AAIAAAYja3AB_fq6IhUtF5CBw1yjTHheP8YIooE&trk=nav_responsive_tab_profile'>
            <img src='assets/icons/linkedin.svg' class='icon float-right'>
          </a>
          <a href='https://plus.google.com/u/0/+DanielStahl1138'>
            <img src='assets/icons/googleplus.svg' class='icon float-right'>
          </a>
          <a href='https://github.com/phillyfan1138'>
            <img src='assets/icons/github.svg' class='icon float-right'>
          </a>
        </div>

      </div>
    </div>

    <div class='ui divider'></div>
    <div id='mainText'></div>


  </div>
</body>
<script src='assets/js/main.js'></script>
</html>
