<label>
  X-Values</label>
<div style='height: 370px;overflow: auto;'>
  <div class='list-group'>
    {{#each keys}}
      <a class='selectSeries list-group-item' rol='menuitem' tabindex='-1' href='#'>{{this}}</a>
    {{/each}}
  </div>
</div>
