<div class='txt'>
  This project is a basic implementation of my credit risk model.  The full details can be found in my <a href='{{researchUrl}}'>publication</a> in the Journal of Credit Risk.  The main innovations are the fast numerical implementation to compute the distribution and semi-endogenous liquidity risk.
</div>
<div class='txt'>
  The parameters have the following interpretation:
  <ul>
    {{#each input}}
      <li>{{this.id}}: {{this.description}} </li>
    {{/each}}

  </ul>
</div>
