<h3>Update DB credentials</h3>
<form id='{{dbChangeId}}'>
  <div class='form-group'>
    <label for='ip'>Ip</label>
    <input type='text' class='form-control' id='ip'></input>
  </div>
  <div class='form-group'>
    <label for='port'>Port</label>
    <input type='text' class='form-control' id='port'></input>
  </div>
  <div class='form-group'>
    <label for='collection'>Collections</label>
    <input type='text' class='form-control' id='collection'></input>
  </div>
  <div class='form-group'>
    <label for='db'>Database</label>
    <input type='text' class='form-control' id='db'></input>
  </div>
  <div class='form-group'>
    <label for='userDB'>User</label>
    <input type='text' class='form-control' id='userDB'></input>
  </div>
  <div class='form-group'>
    <label for='passwordDB'>Password</label>
    <input type='password' class='form-control' id='passworDB'></input>
  </div>
    <button type='submit' class='btn btn-primary'>Submit</button>
    <!--<button id='{{dbTestId}}' class='btn btn-primary'>Test</button>-->

</form>
