<!-- Modal -->
<div class="modal fade" id="newModal" tabindex="-1" role="dialog" ><!--aria-labelledby="myModalLabel">-->
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class='verticalScroll'>
            <div class=''>
                {{> (lookup . 'text') this }}
             </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
